/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: palegoldenrod;
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 30px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: smaller;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.loader {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  width: 32px;
  height: 32px;
  transform: translateY(100%);
  border-radius: 50%;
  background: black;
  position: relative;
}
.loader:before , .loader:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  top: -200%;
}
.loader:after {
  animation: moveX 0.5s infinite linear alternate;
}

@keyframes moveX {
  0% {
    top: 0% ;
    transform: translateX(-50%) scale(1.5);
  }
  50% {
    top: -75% ;
    transform: translateX(-50%) scale(0.5);
  }
  100% {
    top: -200%;
    transform: translateX(-50%) scale(1.5);
  }
}
      
.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.search-form input {
  width: 20%;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  padding: 8px 10px;
}

.search-form button, .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: orange;
  color: aliceblue;
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;
  cursor: pointer;
}

.search-form button:hover, .load-more:hover {
  background-color: orangered;
  transition: all 0.3s;
}

.load-more {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}