* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

a {
  display: block;
  font-size: 20px;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-search {
  text-align: center;
}

.search-box {
  width: 320px;
  border-radius: 7px;
  border: 1px solid #888787;
  outline: transparent;
  padding: 10px 16px;
}

.search-box:focus {
  border: 1px solid #000;
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  background-color: #4e75ff;
  border: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 7px 25px;
  margin-left: 10px;
}

.btn:active {
  background-color: #6c8cff;
}

.loader {
  width: 160px;
  height: 185px;
  position: relative;
  margin: 30px auto;
  background: #fff;
  border-radius: 100px 100px 0 0;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes earLift {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.gallery-item {
  margin-left: 20px;
  transition: transform 0.3s;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}

.gallery-item:hover .info-section {
  border-color: #2d7de6;
}

.gallery-link {
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  min-width: 320px;
}

.gallery-link:hover {
  cursor: zoom-in;
}

.gallery-image {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #24264d;
  border-top: none;
  padding: 10px 0;
}

.section {
  text-align: center;
}

.tittle {
  color: #212127;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.quantity {
  color: #222227;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.load-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-btn {
  cursor: pointer;
  border-radius: 8px;
  background-color: #4e75ff;
  border: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  margin-left: 10px;
  margin-top: 100px;
}

.load-btn:active {
  background-color: #6c8cff;
}

.loader-more {
  width: 160px;
  height: 185px;
  position: relative;
  margin: 10px auto;
  background: #fff;
  border-radius: 100px 100px 0 0;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes earLift {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}
.scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 48px;
  height: 12px;
  background: #000000;
}

.scroll-to-top-btn::after {
  content: '';
  left: 50%;
  top: -47px;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: #030303;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

.scroll-to-top-btn::before {
  content: '';
  left: 50%;
  bottom: 15px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: #000000;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }

  100% {
    transform: translate(-50%, -5px);
  }
}
