/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.button-load {
  color: #FFFFFF;
  background-color: #4E75FF;
  width: 125px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: none;
}
.button-load:hover {
  background-color: #6C8CFF;
}
.massege {
  display: none;
  font-size: 16px;
}
.loader {
  display: none;
  font-size: 16px;
}
.div-loader {
  display: flex;
  justify-content: center;
}
.button {
  color: #FFFFFF;
  background-color: #4E75FF;
  width: 91px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  text-align: center;
}

.button:hover {
  background-color: #6C8CFF;
}

.gallery-form {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.input {
  height: 40px;
  color: #2E2F42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0 8px;
}

img {
  display: block;
  height: auto;
  width: 360px;
}

.gallery {
  list-style: none;
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  padding: 24px 0;
  align-items: center;
}

.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}